{% assign theme_found = false %}
{% if site.bootswatch_theme %}
    {% for theme in site.data.bootswatch %}
        {% if site.bootswatch_theme == theme.name %}
          {% assign theme_found = true %}
<!-- Stylized bootstrap.min.css (v3.3.7)
     - Theme `{{ theme.name }}` courtesy of Bootswatch: https://bootswatch.com/,
     - Hosting courtesy of BootstrapCDN: https://www.bootstrapcdn.com/       -->
<link href="{{ theme.css }}" rel="stylesheet" integrity="{{ theme.sha384 }}" crossorigin="anonymous">
        {% endif %}
    {% endfor %}
{% endif %}
{% unless theme_found %}
<!-- Bootstrap core (v4.3.1) CSS, hosting courtesy of BootstrapCDN: https://www.bootstrapcdn.com/ -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endunless %}
<!-- Load in custom styling after bootstrap. -->
<link rel="stylesheet" href="{{ site.baseurl }}{% link css/main.css %}">
